* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: adelia;
	src: url(../src/assets/fonts/ADELIA.otf)
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    padding: 35px;
    background-image: url(assets/background.png);
}

.wrap-login {
    width: 390px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-family: adelia;
    font-size: 30px;
    color: #4682B4;
    line-height: 1.2;
    text-align: center;
}

.login-form-title img {
    width: 100px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4682B4;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
}

.input:focus{
    outline: 0;
}

.effect-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    pointer-events: none;
    color: #adadad;
}

.effect-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: -webkit-linear-gradient(to left,  #87CEEB, #a1d6eb);
    background: -o-linear-gradient(to left,  #87CEEB, #a1d6eb);
    background: -moz-linear-gradient(to left,  #87CEEB, #a1d6eb);
    background: linear-gradient(to left,  #87CEEB, #a1d6eb);
}

.effect-input::after {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #999;
    line-height: 1.2;
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    content: attr(data-placeholder);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.input:focus + .effect-input::after{
    top: -15px;
}

.input:focus + .effect-input::before{
    width: 100%;
}

.container-login-form-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.login-form-btn{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    background: -webkit-linear-gradient(to left, #87CEEB, #a1d6eb);
    background: -o-linear-gradient(to left, #87CEEB, #a1d6eb);
    background: -moz-linear-gradient(to left, #87CEEB, #a1d6eb);
    background: linear-gradient(to left, #87CEEB, #a1d6eb);
}

.login-form-btn:hover{
    cursor: pointer;
}

a { text-decoration: none; }

.text-new-account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  
  .text-um {
    font-size: 14px;
    color: #6e6e6e;
    line-height: 1.5;
    padding-right: 5px;
  }
  
  .text-dois {
    font-size: 14px;
    color: #4682B4;
    line-height: 1.5;
    text-decoration: none;
  }

  .has-value + .effect-input::after{
      top: -15px;
  }

  .has-value + .effect-input::before{
    width: 100%;
}